{% extends 'layout.twig' %}

{% block title %}404{% endblock %}

{% block content %}
<article>
	<h1>Not found</h1>
	<p>There is nothing at this address.</p>
	<p><a href="index.html">Start here.</p>
</article>
{% endblock %}


