{% if not prefix %}
{% set prefix = '' %}
{% endif %}
<nav class="pageNav">
	{% if next or prev %}
		<ul>
			{% if prev and prev != current %}
				<li>
					<a href="{{ prefix }}{{ prev }}"><i class="icon-arrow-left"></i> Previous</a>
				</li>
			{% endif %}
			{% if next %}
				<li>
					<a href="{{ prefix }}{{ next }}"><i class="icon-arrow-right"></i> Next</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</nav>