{% extends 'layout.twig' %}

{% block title %}{{ title }}{% endblock %}

{%  block meta %}
	{%  for m in meta %}
		<meta name="{{ m.name }}" content="{{ m.content }}">
	{%  endfor %}
{%  endblock %}

{% block content %}
<p>archive!</p>
	<p>
		{% for post in posts %}
			{{ post }}<br>
		{% endfor %}
	</p>
{% endblock %}