{% extends 'layout.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block content %}
<p>archive!</p>
	<p>
		{% for post in posts %}
			{{ post }}<br>
		{% endfor %}
	</p>
{% endblock %}