{% extends 'layout.twig' %}


{% block title %}Search{% endblock %}



{% block content %}

	<div class="archives">
		<nav class="breadcrumb">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/search">Search</a>
				</li>
			</ul>
		</nav>
		<article>
			{% if hits %}
			<h1>Search results</h1>
			<h2>Pages and blog posts matching:<br />“{{ query }}”</h2>
			<ul>
				{% for hit in hits %}
				<li>
					<a href="{{ hit.url }}">
						{{ hit.title}}
					</a>
					{% if hit.type == 'blog' %}
						(From the blog)
					{% else %}
						(From the site)
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}

			<h1>Search the site</h1>
			<form action="/search" method="get">
				<label>
					Search recipes, blog posts, and site content
				</label>
				<div id="form">
					<input type="text" name="q" placeholder="e.g. Angel food cake">
				</div>
				<button type="submit">
					<i class="icon-search"></i>
					Search
				</button>
			</form>

		</article>




	</div>

{% endblock %}