article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@font-face{font-family:"FontAwesome";src:url('/css/fonts/fontawesome/font/fontawesome-webfont.eot');src:url('/css/fonts/fontawesome/font/fontawesome-webfont.eot?#iefix') format('eot'),url('/css/fonts/fontawesome/font/fontawesome-webfont.woff') format('woff'),url('/css/fonts/fontawesome/font/fontawesome-webfont.ttf') format('truetype'),url('/css/fonts/fontawesome/font/fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit;}
a [class^="icon-"],a [class*=" icon-"]{display:inline-block;text-decoration:inherit;}
.icon-large:before{vertical-align:top;font-size:1.3333333333333333em;}
.btn [class^="icon-"],.btn [class*=" icon-"]{line-height:.9em;}
li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center;}
li .icon-large[class^="icon-"],li .icon-large[class*=" icon-"]{width:1.875em;}
li[class^="icon-"],li[class*=" icon-"]{margin-left:0;list-style-type:none;}
li[class^="icon-"]:before,li[class*=" icon-"]:before{text-indent:-2em;text-align:center;}
li[class^="icon-"].icon-large:before,li[class*=" icon-"].icon-large:before{text-indent:-1.3333333333333333em;}
.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up:before{content:"\f087";}
.icon-thumbs-down:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope-alt:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-user-md:before{content:"\f200";}
html{color:#444444;font-size:16px;font-size:1em;line-height:1.5em;font-family:"Palatino Linotype",Palatino,"Book Antiqua","URW Palladio L",serif;padding:0;margin:0;}
a{color:#369;text-decoration:none;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:inherit;}
.universalMarginBottom{margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;}
h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dd,p,figure,pre,table,fieldset,hr,form{margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;}
ul ul{margin-bottom:0;}
.small{font-size:14px;font-size:0.875rem;line-height:1.714;}
small{font-size:14px;font-size:0.875rem;line-height:1.714;}
h1,.header{font-size:48px;font-size:3rem;line-height:1;}
h2,.sub-header{font-size:32px;font-size:2rem;line-height:1.5;}
.big{font-size:24px;font-size:1.5rem;line-height:1;}
h3,big{font-size:24px;font-size:1.5rem;line-height:1;}
h4,h5,h6{font-size:16px;font-size:1rem;line-height:1.5;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body{height:100%;}
body{background-color:#f2f2ee;}
header{background-color:#ffffff;border-bottom:0.5em solid #b6b3aa;padding:.5em;line-height:1;}header h1{width:12rem;font-size:1.5rem;display:inline-block;vertical-align:middle;padding-left:5rem;margin:0;background-image:url('/css/images/logo.png');background-position:left center;background-size:auto 64px;background-repeat:no-repeat;}
header nav{display:inline-block;vertical-align:middle;line-height:1;margin-left:1.5rem;margin-bottom:0;}header nav ul li{display:inline-block;vertical-align:middle;}header nav ul li:after{content:' | ';}
header nav ul li:last-child:after{content:none;}
header,footer,h1,h2,h3,h4,h5,h6{color:#918a77;font-weight:normal;}
nav ul,nav li{margin-left:0;padding-left:0;}
nav.breadcrumb{margin-top:24px;margin-top:1.5rem;margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;}nav.breadcrumb ul{margin:0;padding:0;font-size:14px;font-size:0.875rem;line-height:1.714;}nav.breadcrumb ul li{display:inline-block;}nav.breadcrumb ul li:before{content:'» ';}
nav.breadcrumb ul li:first-child:before{content:'';}
nav.pageNav{position:fixed;left:1.5rem;top:27rem;font-size:24px;font-size:1.5rem;line-height:1;line-height:1.5;}
aside{position:fixed;top:7rem;left:1.5rem;width:12rem;text-align:center;border:0.25em solid #918a77;}aside a{width:100%;display:block;}aside a img{display:block;width:100%;height:auto;border:0.5em solid #b6b3aa;}
aside a.closer{display:none;}
aside.modal{position:absolute;top:0;left:0;z-index:100;width:100%;min-height:100%;margin-bottom:0;background:#ffffff;border:none;padding:3rem;}aside.modal a{float:none;border:none;width:auto;}
aside.modal img{border:none;display:block;width:100%;height:auto;}
aside.modal a.closer{position:absolute;border:none;top:1rem;right:1rem;display:block;color:#444444;}
div.page,div.archives{margin-top:1.5rem;margin-left:14rem;margin-right:14rem;padding-left:1.5rem;min-height:20rem;}div.page article:after,div.archives article:after{content:'✻';display:block;margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;font-size:24px;font-size:1.5rem;line-height:1;color:#dddddd;text-align:center;}
div.page article:last-of-type:after,div.archives article:last-of-type:after{content:none;}
aside+div.page{margin:1.5rem 1.5rem 1.5rem 13.5rem;}
aside+div.page+footer{margin-left:12rem;}
footer{font-size:14px;font-size:0.875rem;line-height:1.714;text-align:center;padding:1.5rem;}footer a{display:block;background-image:url('/css/images/abouthalfLogo.png');background-position:center bottom;background-repeat:no-repeat;background-size:auto 3rem;padding-bottom:3rem;}
@media screen and (max-height:30em){aside,nav.pageNav{position:absolute;}}@media screen and (max-width:37.5em){header{padding:.25rem;margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;}header h1,header nav{display:block;} header h1{margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;} aside{position:static;margin:0 auto;margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;}aside a img{margin:0 auto;} nav.pageNav{position:static;} div.page,div.archives,aside+div.page{min-height:auto;padding:0;margin-left:1.5rem;margin-right:1.5rem;} aside+div.page+footer{margin-left:0;}}@media screen and (min-width:64em) and (min-height:37.5em){header{position:fixed;top:0;right:0;z-index:90;width:12rem;border:none;border-left:0.5em solid #b6b3aa;min-height:100%;}header h1,header nav{display:block;margin-top:0;margin-bottom:24px;margin-bottom:1.5rem;} header nav{line-height:1.5;margin-left:5rem;}header nav ul li{display:block;}header nav ul li:after{content:none;} aside{position:fixed;top:0;left:0;width:40%;height:100%;border:none;border-right:0.5em solid #b6b3aa;background-color:#f2f2ee;}aside.modal{height:auto;margin-bottom:0;}aside.modal a{height:auto;width:auto;} aside a{text-align:right;float:right;height:100%;border-left:0.5em solid #dcdcd1;}aside a img{display:inline-block;border:none;border-right:0.25em solid #918a77;border-left:0.25em solid #b6b3aa;width:auto;height:100%;} div.page,div.archives{position:static;margin:0 12rem 0 12rem;} aside+div.page,aside+div.page+footer{width:60%;margin-left:40%;padding-left:1.5rem;padding-right:13.5rem;} article{max-width:40em;} nav.pageNav{font-size:24px;font-size:1.5rem;line-height:1;line-height:1.5;position:fixed;left:auto;top:auto;bottom:30%;right:0;width:12rem;padding-left:3rem;z-index:91;}}.lt-ie9 header h1{font-size:24px;width:112px;}
.lt-ie9 aside{width:192px;top:112px;left:24px;}.lt-ie9 aside.modal{position:absolute;top:0;left:0;z-index:100;width:100%;min-height:100%;padding:48px;}.lt-ie9 aside.modal a.closer{width:80px;top:1em;right:1em;}
.lt-ie9 nav.pageNav{top:432px;}
.lt-ie9 div.page,.lt-ie9 div.archives{margin-top:24px;margin-left:224px;margin-right:224px;padding-left:24px;min-height:320px;}
.lt-ie9 aside+div.page{margin:24px 192px 24px 216px;}
.lt-ie9 aside+div.page+footer{margin-left:192px;}
.lt-ie9 footer a{background:none;}
.hidden{display:none;}
